@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=cyrillic,latin);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none; } }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
  font-family: "Exo 2", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4; }

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.button {
  position: relative;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  color: #ffffff;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  border: none;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
  width: 378px;
  height: 45px;
  box-sizing: border-box;
  padding: 0 20px;
  color: #8b94ae;
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
  border: 1px solid #8b94ae;
  border-radius: 4px;
  resize: none;
  background: none; }
  input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus, textarea:focus {
    box-shadow: 0 0 2px #99e6f9; }
  input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input {
    box-shadow: 0 0 2px #ff2d50;
    background: #fdc4ce; }

input::-webkit-input-placeholder {
  color: inherit; }

input:-moz-placeholder {
  color: inherit; }

textarea {
  height: 90px;
  padding-top: 5px; }

.modal {
  display: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.float_left {
  float: left !important; }

.float_right {
  float: right !important; }

.float_none {
  float: none !important; }

.text_right {
  text-align: right !important; }

.text_center {
  text-align: center !important; }

.text_left {
  text-align: left !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.background_none {
  background: none !important; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hidden {
  display: none; }

.wrapper {
  position: relative;
  overflow: hidden; }

.container {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

/*----------header----------*/
.header {
  position: relative;
  overflow: hidden; }
  .header .container {
    overflow: visible; }

.head_line {
  background: #f1f2f6;
  height: 40px; }
  .head_line .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5; }

.contacts_head {
  padding-top: 8px;
  padding-left: 80px;
  position: relative;
  z-index: 7;
  color: #8b94ae;
  font-size: 16px; }
  .contacts_head a, .contacts_head span {
    margin: 0 0 0 8px;
    padding-right: 8px;
    height: 20px;
    border-right: 1px solid #8b94ae;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 22px;
    text-decoration: none; }
  .contacts_head .place {
    background: url(../img/icons/place.png) no-repeat left center; }
  .contacts_head .mail {
    background: url(../img/icons/mail.png) no-repeat left center; }
  .contacts_head .call {
    border: none;
    background: url(../img/icons/phone.png) no-repeat left center; }
  .contacts_head .tel {
    padding-left: 0;
    border: none;
    font-size: 18px;
    color: #447fc1; }

.head_block {
  height: 420px;
  background: url(../img/first_screen.jpg) no-repeat center top; }
  .head_block article {
    padding: 70px 0 0 80px;
    width: 600px;
    color: #353b4b;
    font-weight: 300;
    line-height: 25px;
    font-size: 18px; }
    .head_block article h3 {
      font-size: 24px;
      color: #353b4b;
      margin-bottom: 10px;
      line-height: 1.3; }
      .head_block article h3:after {
        margin-top: 8px;
        width: 220px;
        height: 3px;
        display: block;
        content: '';
        background: -webkit-linear-gradient(left, #33cbfe 0%, #447fc2 100%);
        background: linear-gradient(to right, #33cbfe 0%, #447fc2 100%); }

.menu {
  text-align: right;
  text-transform: uppercase; }
  .menu li {
    display: inline-block;
    margin: 0 8px; }
    .menu li a {
      padding: 14px 0 0 0;
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      color: #8b94ae;
      text-decoration: none;
      position: relative; }
      .menu li a.active, .menu li a:hover {
        color: #353b4b; }
        .menu li a.active:before, .menu li a:hover:before {
          content: '';
          -webkit-transition: all 0.5s ease;
                  transition: all 0.5s ease;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 3px;
          background: -webkit-linear-gradient(left, #33cbfe 0%, #447fc2 100%);
          background: linear-gradient(to right, #33cbfe 0%, #447fc2 100%); }

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden; }

.top_form {
  background: #f1f2f6;
  vertical-align: top; }
  .top_form .button {
    width: 380px; }
  .top_form h2 {
    padding: 20px 0 15px 0;
    font-size: 24px;
    color: #447fc1; }
  .top_form .container {
    width: 1020px;
    padding-bottom: 35px; }

.top_form_block h2 {
  padding: 20px 0 15px 0;
  font-size: 20px;
  color: #447fc1; }

.top_form_block .button {
  width: 380px; }

.top_form_block small {
  display: inline-block;
  width: 175px;
  vertical-align: top;
  padding: 0 0 0 20px;
  font-size: 12px;
  color: #8b94ae;
  font-weight: 500; }

.button_item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 0 20px;
  vertical-align: top; }
  .button_item:before {
    width: 200%;
    content: '';
    height: 45px;
    background: red;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    background: -webkit-linear-gradient(left, #33cbfe 0%, #33cbfe 50%, #33cbfe 51%, #447fc2 100%);
    background: linear-gradient(to right, #33cbfe 0%, #33cbfe 50%, #33cbfe 51%, #447fc2 100%);
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
  .button_item:hover:before {
    left: 0; }
  .button_item .button {
    position: relative;
    z-index: 5;
    background: none; }

.tabs_wrap {
  position: relative;
  overflow: hidden; }

.title_top_txt {
  padding: 100px 0 0 0; }

.title {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  color: #447fc1;
  font-size: 36px; }
  .title:before {
    display: block;
    margin-bottom: 8px;
    width: 220px;
    height: 3px;
    display: block;
    content: '';
    background: -webkit-linear-gradient(left, #33cbfe 0%, #447fc2 100%);
    background: linear-gradient(to right, #33cbfe 0%, #447fc2 100%); }

.tabs {
  height: 160px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px); }
  .tabs li {
    display: inline-block;
    width: 25%;
    vertical-align: top; }
    .tabs li a {
      display: block;
      margin: 0 20px 0 0;
      height: 160px;
      box-sizing: border-box;
      background: #f1f2f6;
      padding: 15px 5px 0 5px;
      font-size: 14px;
      line-height: 1.1;
      text-decoration: none;
      text-align: center;
      position: relative;
      top: 99px; }
      .tabs li a strong {
        font-size: 18px;
        color: #447fc1;
        font-weight: normal;
        display: block;
        height: 23px;
        position: relative;
        overflow: hidden; }
      .tabs li a em {
        display: block;
        font-style: normal;
        color: #353b4b;
        font-size: 16px;
        height: 23px;
        position: relative;
        overflow: hidden; }
      .tabs li a img {
        width: 100%; }
      .tabs li a.active, .tabs li a:hover {
        top: 0; }

.tabs_block {
  background: #f1f2f6; }

.tab {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  display: none; }

#tab1 {
  display: block; }

.tab_text {
  float: left;
  width: 540px;
  font-size: 16px;
  color: #353b4b;
  font-weight: 300; }
  .tab_text strong, .tab_text em {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #c14444; }
  .tab_text em {
    color: #447fc1; }
  .tab_text p {
    padding-bottom: 17px; }
  .tab_text h6 {
    color: #353b4b;
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 28px; }
  .tab_text .top_form_block .button {
    width: 280px; }
  .tab_text .top_form_block input {
    width: 220px; }

.tab_item {
  float: left;
  margin-left: 20px;
  width: 300px; }
  .tab_item > img {
    max-width: 100%;
    display: block; }
  .tab_item article {
    background: -webkit-linear-gradient(top, #3d9dd8 0%, #33ccff 100%);
    background: linear-gradient(to bottom, #3d9dd8 0%, #33ccff 100%);
    padding: 15px;
    box-sizing: border-box;
    height: 270px;
    font-weight: 300;
    color: #fff;
    font-size: 14px; }
    .tab_item article h5 {
      padding-bottom: 19px;
      font-size: 18px;
      font-weight: normal; }
  .tab_item .button {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 140px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 30px; }
    .tab_item .button:hover {
      color: #447fc1;
      background: #fff; }

.sheme_wrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 80px; }

.sheme_block {
  width: 1020px; }

.sheme {
  font-size: 0;
  padding-bottom: 50px;
  counter-reset: list1; }
  .sheme figure {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    color: #353b4b;
    vertical-align: top;
    position: relative; }
    .sheme figure img {
      display: block;
      margin-bottom: 17px; }
    .sheme figure figcaption {
      width: 140px; }
    .sheme figure:before {
      color: #fff;
      display: block;
      font-size: 24px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #33c9fd;
      position: absolute;
      left: 0;
      text-align: center;
      line-height: 30px;
      top: 0;
      counter-increment: list1;
      content: counter(list1) " "; }

.project_wrap {
  position: relative;
  overflow: hidden; }

.project_block {
  counter-reset: list2;
  margin-left: -16px; }

.project {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 280px;
  padding: 17px 0 35px 0;
  margin: 0 0 0 16px; }
  .project:before {
    color: #fff;
    display: block;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background: #33c9fd;
    position: absolute;
    left: 15px;
    text-align: center;
    line-height: 30px;
    top: 0;
    counter-increment: list2;
    content: counter(list2) " "; }
  .project > img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: #cccccc 1px solid; }
  .project section {
    border: #3aaae4 1px solid;
    box-sizing: border-box;
    padding: 15px 12px;
    border-top: none;
    font-size: 14px;
    color: #353b4b;
    font-weight: 300; }
    .project section strong {
      display: block;
      padding-bottom: 15px;
      color: #447fc1;
      font-size: 18px;
      font-weight: normal; }
      .project section strong a {
        text-decoration: none; }
        .project section strong a:hover {
          text-decoration: underline; }

.project_result {
  font-size: 0;
  padding-bottom: 75px; }
  .project_result h6 {
    text-align: center;
    color: #447fc1;
    font-size: 24px;
    margin-bottom: 27px; }
  .project_result figure {
    display: inline-block;
    font-size: 18px;
    color: #353b4b;
    width: 20%;
    box-sizing: border-box;
    padding: 0 20px;
    vertical-align: middle; }
    .project_result figure figcaption {
      vertical-align: top;
      display: inline-block; }

.install .project section strong {
  padding-bottom: 0; }

.install .project_result figure {
  width: auto;
  text-align: left; }

.install .project_result {
  text-align: center; }

.service_block {
  overflow: hidden;
  padding: 25px 0;
  background: #f1f2f6; }
  .service_block ul {
    padding-left: 25px; }
    .service_block ul li {
      padding: 0 0 0 23px;
      line-height: 25px;
      background: url(../img/check.png) no-repeat left 5px;
      background-size: 15px 15px;
      position: relative;
      font-size: 16px; }

.service_img {
  float: right; }
  .service_img img {
    border: 1px solid #cccccc; }

.instaled_wrap {
  padding: 95px 0 40px 0; }

.instaled_blocks {
  text-align: center; }

.instaled_item {
  display: inline-block;
  vertical-align: top;
  width: 460px;
  margin: 0 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px; }
  .instaled_item:hover figure figcaption {
    background: -webkit-linear-gradient(left, #33cbfe 0%, #447fc2 100%);
    background: linear-gradient(to right, #33cbfe 0%, #447fc2 100%); }
  .instaled_item:hover section {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .instaled_item figure {
    height: 359px;
    position: relative;
    overflow: hidden; }
    .instaled_item figure img {
      display: block; }
    .instaled_item figure figcaption {
      background: #447fc1;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      color: #fff;
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; }
  .instaled_item section {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    width: 100%;
    height: 321px;
    text-align: left;
    padding: 11px;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6); }
    .instaled_item section p {
      padding-bottom: 25px; }

.partners {
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 90px; }
  .partners figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between; }
    .partners figure a {
      width: 14%;
      text-align: center;
      display: inline-block; }

.sert_wrap {
  padding: 0 0 80px 0; }

.sert {
  text-align: center; }
  .sert a {
    display: inline-block;
    padding: 10px;
    margin: 0 7px;
    background: -webkit-linear-gradient(top, #3d9dd8 0%, #33ccff 100%);
    background: linear-gradient(to bottom, #3d9dd8 0%, #33ccff 100%); }
    .sert a img {
      display: block;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35); }

.directors_block {
  background: #f1f2f6;
  padding: 27px 0; }
  .directors_block .project:before {
    display: none; }
  .directors_block .project {
    padding: 0; }
  .directors_block .director {
    float: left; }

.map_wrap .container {
  height: 0px;
  overflow: visible; }

.map_wrap .contacts {
  display: inline-block;
  padding: 10px;
  background: -webkit-linear-gradient(top, #3d9dd8 0%, #33ccff 100%);
  background: linear-gradient(to bottom, #3d9dd8 0%, #33ccff 100%);
  margin-top: 75px; }
  .map_wrap .contacts section {
    display: block;
    background: #fff;
    box-sizing: border-box;
    padding: 11px;
    width: 280px;
    font-size: 14px;
    color: #353b4b;
    line-height: 20px;
    font-weight: 300;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35); }
    .map_wrap .contacts section h4 {
      color: #447fc1;
      font-size: 18px;
      padding-bottom: 13px; }

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden; }

.foot_top {
  background: #f1f2f6; }
  .foot_top .contacts_head {
    float: right;
    text-align: right;
    width: 360px;
    padding: 20px 0 0 0; }
    .foot_top .contacts_head span, .foot_top .contacts_head a {
      margin-bottom: 10px;
      border: none; }
  .foot_top .logo {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: block;
    left: 100px; }

.foot_menu {
  float: left;
  width: 200px;
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0; }
  .foot_menu li {
    display: block;
    padding-bottom: 10px; }
    .foot_menu li a {
      font-size: 14px;
      color: #8b94ae;
      text-decoration: none; }
      .foot_menu li a:hover {
        color: #000; }

.foot_bottom {
  background: #fff;
  padding: 10px 0; }
  .foot_bottom address {
    float: left;
    color: #447fc1;
    font-size: 14px;
    font-weight: 300;
    font-style: normal; }
  .foot_bottom strong {
    float: right;
    color: #447fc1;
    font-size: 14px;
    font-weight: 300; }
    .foot_bottom strong a {
      color: #ff7d7d;
      text-decoration: none; }
      .foot_bottom strong a:hover {
        text-decoration: underline; }

.totop {
  position: absolute;
  right: 0%;
  top: 30px; }

/*----------end footer----------*/
/*----------modal----------*/
.fancybox-close {
  background: url(../img/X.png) no-repeat center; }

.fancybox-skin {
  background: -webkit-linear-gradient(top, #3d9dd8 0%, #33ccff 100%);
  background: linear-gradient(to bottom, #3d9dd8 0%, #33ccff 100%); }

.modal {
  background: #fff;
  margin: 2px;
  text-align: center; }

.modal_form {
  padding: 21px 59px;
  width: 540px;
  box-sizing: border-box; }
  .modal_form h6 {
    color: #447fc1;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px; }
  .modal_form input {
    font-size: 18px; }
  .modal_form .button_item {
    margin: 0;
    margin-top: 12px; }
    .modal_form .button_item .button {
      width: 378px; }

.fancybox-overlay {
  background: rgba(60, 163, 222, 0.5); }

/*----------end modal----------*/
/*-------tab--------*/
.list_of_tabs {
  float: left;
  width: 308px;
  margin-right: 10px;
  margin-bottom: 41px;
  border: 1px solid #3ba5e0;
  background-color: #f1f1f5; }
  .list_of_tabs h6 {
    font-weight: bold;
    font-size: 18px;
    color: #447fc1;
    padding: 10px; }
  .list_of_tabs .tabs_new li {
    display: block; }
    .list_of_tabs .tabs_new li:nth-child(odd) {
      background: #fff; }
    .list_of_tabs .tabs_new li a {
      display: block;
      padding: 10px 0 10px 10px;
      color: #353b4b;
      font-size: 18px;
      text-decoration: none;
      position: relative; }
      .list_of_tabs .tabs_new li a:before {
        content: '';
        position: absolute;
        top: 19px;
        left: 11px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 0 4px 8px;
        border-color: transparent transparent transparent #cccccc; }
      .list_of_tabs .tabs_new li a.active, .list_of_tabs .tabs_new li a:hover {
        color: #447fc1; }
        .list_of_tabs .tabs_new li a.active strong, .list_of_tabs .tabs_new li a:hover strong {
          border-color: #447fc1; }
        .list_of_tabs .tabs_new li a.active:before, .list_of_tabs .tabs_new li a:hover:before {
          border-left-color: #447fc1; }
    .list_of_tabs .tabs_new li strong {
      margin-left: 18px;
      font-weight: normal;
      border-bottom: 1px dashed #353b4b; }

.tabs_wrap {
  padding-bottom: 50px; }

.new_tab_wrap {
  position: relative;
  overflow: hidden;
  border: 1px solid #3ba5e0;
  background-color: #fff;
  padding: 0 10px; }
  .new_tab_wrap h3 {
    font-size: 24px;
    color: #447fc1;
    margin: 0;
    padding: 0;
    padding-bottom: 14px; }
  .new_tab_wrap .top_form_block {
    float: left;
    width: 540px;
    padding: 0 18px 0 0; }
    .new_tab_wrap .top_form_block .button {
      width: 280px; }
    .new_tab_wrap .top_form_block input {
      width: 220px; }

.new_tab_price {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #cccccc;
  padding: 12px 0 0 0;
  text-align: right; }
  .new_tab_price > div {
    padding-bottom: 12px; }
  .new_tab_price .red {
    color: #c14444; }
  .new_tab_price .blue {
    color: #447fc1; }
  .new_tab_price em {
    display: block;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    font-style: normal; }
  .new_tab_price strong {
    font-weight: 300;
    font-size: 30px; }
    .new_tab_price strong small {
      color: #353b4b;
      font-size: 18px; }

.new_tab_harac {
  position: relative;
  overflow: hidden; }
  .new_tab_harac > img {
    float: left;
    border: 1px solid #cccccc; }
  .new_tab_harac section {
    padding: 0 0 0 20px;
    position: relative;
    overflow: hidden; }
    .new_tab_harac section h4 {
      font-weight: bold;
      color: #447fc1;
      font-size: 18px; }
    .new_tab_harac section li {
      font-weight: 300;
      font-size: 16px;
      color: #353b4b;
      line-height: 30px; }

/*-------tab--------*/
.economy_wrap {
  position: relative;
  overflow: hidden;
  background: #f1f2f6; }
  .economy_wrap .top_form_block {
    float: left;
    width: auto;
    padding: 0 18px 0 0; }
    .economy_wrap .top_form_block .button {
      width: 280px;
      margin: 0; }
    .economy_wrap .top_form_block input {
      margin-right: 14px;
      width: 220px; }

.economy_block {
  position: relative;
  overflow: hidden;
  width: 1159px;
  height: 438px;
  margin: 25px auto;
  background: transparent url("../img/form_bg.png") center no-repeat; }
  .economy_block .container {
    width: 870px;
    margin-top: 19px; }
  .economy_block h2 {
    font-size: 24px;
    color: #353b4b; }

.economy_box {
  padding: 20px 0 0 0;
  position: relative;
  overflow: hidden; }
  .economy_box section {
    width: 535px;
    float: left;
    color: #353b4b;
    font-size: 16px;
    font-weight: 300;
    margin-right: 20px;
    line-height: 25px; }
    .economy_box section p {
      padding-bottom: 17px;
      background: url(../img/form_line.png) no-repeat bottom; }
    .economy_box section h2 {
      font-size: 20px;
      color: #447fc1;
      padding: 19px  0; }
  .economy_box ul {
    overflow: hidden;
    font-size: 18px;
    color: #353b4b; }
    .economy_box ul li {
      height: 65px;
      display: block;
      padding-left: 77px;
      position: relative; }
      .economy_box ul li img {
        position: absolute;
        left: 0;
        top: 0; }
      .economy_box ul li span {
        padding-top: 6px;
        display: inline-block; }

@media only screen and (max-width: 1200px) {
  .container, .top_form .container {
    width: auto;
    padding-left: 5px;
    padding-right: 5px; }
  .totop {
    display: none; }
  .tab_text {
    float: none;
    width: 100%;
    padding-bottom: 40px; }
  .project {
    box-sizing: border-box;
    width: 23%; }
  .project_result figure img {
    display: block; }
  .service_img {
    text-align: center;
    float: none; }
  .instaled_item {
    margin: 0 0 30px 0; }
  .sert a {
    width: 20%; }
    .sert a img {
      width: 100%; }
  .directors_block {
    text-align: center;
    float: none;
    width: 100%; }
    .directors_block .project {
      margin-bottom: 20px; }
  .map_wrap .container {
    text-align: center; } }

@media only screen and (max-width: 1000px) {
  .head_block article {
    padding-left: 0; }
  .top_form_block small {
    display: block;
    width: 100%;
    padding: 20px 0 0 0; }
  .tabs li a {
    margin: 0; }
  .tabs li a em {
    height: auto;
    font-size: 13px;
    padding-bottom: 10px; }
  .tab_item {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px; }
  .tab, .top_form_block, .top_form h2 {
    text-align: center; }
  .project_result figure, .project {
    vertical-align: top; }
  .service_block ul {
    margin: auto;
    width: 50%; }
  .tab_text h6 {
    text-align: center; }
  .foot_top .logo {
    left: 0; } }

@media only screen and (max-width: 768px) {
  .project {
    width: 45%; }
  .install .project_result figure {
    display: block;
    text-align: center;
    padding-bottom: 15px; }
    .install .project_result figure img {
      margin: auto; }
  .title {
    text-align: center; }
    .title:before {
      margin-left: auto;
      margin-right: auto; }
  .top_form_block .button {
    width: 200px; } }

@media only screen and (max-width: 700px) {
  .head_line {
    height: auto;
    padding: 10px 0; }
    .head_line .logo {
      text-align: center;
      position: static;
      display: block; }
  .contacts_head {
    padding-left: 0;
    text-align: center; }
  .menu {
    text-align: center; }
  .sheme figure {
    width: 50%;
    text-align: center; }
    .sheme figure:before {
      display: none; }
    .sheme figure figcaption, .sheme figure img {
      margin: 10px auto; }
  .partners figure a {
    width: 20%; }
  .sert a {
    width: 40%; }
  .foot_top .logo {
    display: none; } }

@media only screen and (max-width: 600px) {
  .head_block article {
    width: auto;
    padding: 30px 0 0 0; }
  .foot_menu, .foot_top .contacts_head, .foot_bottom address, .foot_bottom strong {
    width: 100%;
    float: none;
    display: block;
    text-align: center; }
  .modal_form {
    width: auto; }
  .modal_form {
    padding: 20px; } }

@media only screen and (max-width: 500px) {
  .partners figure a {
    width: 33%; }
  .button_item {
    margin: 20px 0 0 0; }
  .instaled_item {
    width: 100%; }
    .instaled_item img {
      width: 100%; }
    .instaled_item figure {
      height: auto; }
      .instaled_item figure figcaption {
        height: auto;
        padding: 10px 0;
        line-height: 1.2; }
  .modal_form .button_item .button {
    width: 226px; }
  .modal_form input {
    font-size: 14px; } }

@media only screen and (max-width: 440px) {
  .menu li a {
    font-size: 11px; }
  .contacts_head a, .contacts_head span {
    margin-left: 18px;
    position: relative;
    left: -1px;
    border: none; }
  .head_block article h3 {
    font-size: 18px; }
  .head_block article {
    font-size: 14px; }
  .tabs li a {
    top: 0; }
  .tabs li {
    width: 50%; }
  .tabs {
    height: auto; }
  .project_block {
    margin: 0; }
    .project_block .project {
      width: 100%;
      margin: 0 0 30px 0; }
  .project_result figure {
    width: 50%;
    padding-bottom: 20px; }
  .service_block ul {
    width: 90%; }
  .service_img img {
    max-width: 100%; }
  .title {
    font-size: 28px; }
  .partners figure a {
    width: 50%; }
  .sert a {
    width: 90%; }
  .directors_block .project {
    width: 90%;
    margin-left: 0; }
  .menu li {
    margin: 0 4px; }
  input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
    width: 100%; } }
