// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
	.container{
		overflow: visible;
	}
 }
 	.head_line{
 		background:#f1f2f6;
 		height: 40px;
 		.logo{
 			position: absolute;
 			left: 0;
 			top: 0;
 			z-index: 5;
 		}
 		
 	}
 		.contacts_head{
 			padding-top: 8px;
 			padding-left: 80px;
 			position: relative;
 			z-index: 7;
 			color: #8b94ae;
 			font-size: 16px;
 			a, span{
 				margin: 0 0 0 8px;
 				padding-right: 8px;
 				height: 20px;
 				border-right: 1px solid #8b94ae;
 				display: inline-block;
 				height: 20px;
 				line-height: 20px;
				padding-left: 22px;
				text-decoration: none;
 			}
 			.place{
 				background:url(../img/icons/place.png) no-repeat left center;
 			}
 			.mail{
 				background:url(../img/icons/mail.png) no-repeat left center;
 			}
 			.call{
 				border: none;
 				background:url(../img/icons/phone.png) no-repeat left center;
 			}
 			.tel{
 				padding-left: 0;
 				border: none;
 				font-size: 18px;
 				color: #447fc1;
 			}
 		}

 	.head_block{
 		height: 420px;
 		background:url(../img/first_screen.jpg) no-repeat center top;
 		article{
 			padding: 70px 0 0 80px;
 			width: 600px;
 			color: #353b4b;
 			font-weight: 300;
 			line-height: 25px;
 			font-size: 18px;
 			h3{
 				font-size: 24px;
 				color: #353b4b;
				margin-bottom: 10px;
				line-height: 1.3;
				&:after{
					margin-top: 8px;
					width: 220px;
					height: 3px;
					display: block;
					content: '';
					background:$gradient-horizontal;
				}
 			}
 		}
 	}
		.menu{
			text-align: right;
			text-transform: uppercase;
			li{
				display: inline-block;
				margin: 0 8px;
				a{
					padding: 14px 0 0 0;
					display: block;
					font-size: 14px;
					text-transform: uppercase;
					color: #8b94ae;
					text-decoration: none;
					position: relative;
					&.active, &:hover{
						color: #353b4b;
						&:before{
							content: '';
							transition: all 0.5s ease;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 3px;
							background:$gradient-horizontal;
						}
					}
				}
			}
		}
		
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
 	.top_form{
 		background:#f1f2f6;
 		vertical-align: top;
		.button{
			width: 380px;
		}
		h2{
			padding:20px 0 15px 0;
			font-size: 24px;
			color: #447fc1;
		}
		.container	{
			width: 1020px;
			padding-bottom: 35px;
		}
 	}
 		.top_form_block{
 			h2{
				padding:20px 0 15px 0;
				font-size: 20px;
				color: #447fc1;
			}
			.button{
				width: 380px;
			}
			small{
			display: inline-block;
			width: 175px;
			vertical-align: top;
			padding: 0 0 0 20px;
			font-size: 12px;
			color: #8b94ae;
			font-weight: 500;
			}
 		}
		.button_item{
			position: relative;
			display: inline-block;
			overflow: hidden;
			border-radius: 5px;
			margin: 0 0 0 20px;
			vertical-align: top;
			&:before{
				width: 200%;
				content: '';
				height: 45px;
				background:red;
				position: absolute;
				top: 0;
				left: -100%;
				z-index: 2;
				background:$gradient-horizontal-button;
				transition: all 0.5s ease;
			}
			&:hover{
				&:before{
					left: 0;
				}
			}
			.button{
				position: relative;
				z-index: 5;
				background: none;
			}

		}

	.tabs_wrap{
		@include povh('');
	}
		.title_top_txt{
			padding: 100px 0 0 0;
		}
		.title{
			margin-bottom: 50px;
			@include povh('');
			color: #447fc1;
			font-size: 36px;
			&:before{
				display: block;
				margin-bottom: 8px;
				width: 220px;
				height: 3px;
				display: block;
				content: '';
				background:$gradient-horizontal;
			}
		}
		.tabs{
			height: 160px;
			font-size: 0;
			@include povh('');
			width: calc(100% + 20px);
			li{
				display: inline-block;
				width: 25%;
				vertical-align: top;
				a{
					display: block;
					margin: 0 20px 0 0;
					height: 160px;
					box-sizing: border-box;
					background:#f1f2f6;
					padding: 15px 5px 0 5px;
					font-size: 14px;
					line-height: 1.1;
					text-decoration: none;
					text-align: center;
					position: relative;
					top: 99px;
					strong{
						font-size: 18px;
						color: #447fc1;
						font-weight: normal;
						display: block;
						height: 23px;
						@include povh('');
					}
					em{
						display: block;
						font-style: normal;
						color: #353b4b;
						font-size: 16px;
						height: 23px;
						@include povh('');
					}
					img{
						width: 100%;
					}
					&.active, &:hover{
						top: 0;
					}
				}
				
			}
		}
		.tabs_block{
			background:#f1f2f6;
		}
			.tab{
				@include povh('');
				padding: 20px 0;
				display: none;
				
			}
			#tab1{
				display: block;
			}
				.tab_text{
					float: left;
					width: 540px;
					font-size: 16px;
					color: #353b4b;
					font-weight: 300;
					strong, em{
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						color: #c14444;
					}
					em{
						color: #447fc1;
					}
					p{
						padding-bottom: 17px;
					}
					h6{
						color: #353b4b;
						font-size: 24px;
						font-weight: normal;
						padding-bottom: 28px;
					}
					.top_form_block{
						.button{
							width:280px ;
						}
						input{
							width: 220px;
						}
					}
				}
				.tab_item{
					float: left;
					margin-left: 20px;
					width: 300px;
					& > img{
						max-width: 100%;
						display: block;
					}
					article{
						background:$gradient;
						padding: 15px;
						box-sizing: border-box;
						height: 270px;
						font-weight: 300;
						color: #fff;
						font-size: 14px;
						h5{
							padding-bottom: 19px;
							font-size: 18px;
							font-weight: normal;
						}
					}
					.button{
						border: 1px solid #ffffff;
						border-radius: 4px;
						width: 140px;
						text-align: center;
						margin: 0 auto;
						display: block;
						margin-top: 30px;
					}
				}


	.sheme_wrap{
		@include povh('');
		padding-bottom: 80px;
	}
		.sheme_block{
			width: 1020px;
		}
			.sheme{
				font-size: 0;
				padding-bottom: 50px;
				counter-reset: list1;
				figure{
					display: inline-block;
					width: 25%;
					font-size: 14px;
					color: #353b4b;
					vertical-align: top;
					position: relative;
					img{
						display: block;
						margin-bottom: 17px;
					}
					figcaption{
						width: 140px;
					}
					&:before{
						color: #fff;
						display: block;
						font-size: 24px;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background: #33c9fd;
						position: absolute;
						left: 0;
						text-align: center;
						line-height: 30px;
						top: 0;
						counter-increment: list1; 
    					content: counter(list1) " ";
					}
				}
			}
	
	.project_wrap{
		@include povh('');
	}
		.project_block{
			counter-reset: list2;
			margin-left: -16px;
		}
		.project{
			@include povh('');
			display: inline-block;
			width: 280px;
			padding: 17px 0 35px 0;
			margin: 0 0 0 16px;
			&:before{
				color: #fff;
				display: block;
				font-size: 24px;
				width: 30px;
				height: 30px;
				background: #33c9fd;
				position: absolute;
				left: 15px;
				text-align: center;
				line-height: 30px;
				top: 0;
				counter-increment: list2; 
				content: counter(list2) " ";
			}
			&>img{
				display: block;
				width: 100%;
				box-sizing: border-box;
				border: #cccccc 1px solid ;
			}
			section{
				border: #3aaae4 1px solid ;
				box-sizing: border-box;
				padding: 15px 12px;
				border-top: none;
				font-size: 14px;
				color: #353b4b;
				font-weight: 300;
				strong{
					display: block;
					padding-bottom: 15px;
					color: #447fc1;
					font-size: 18px;
					font-weight: normal;
				}
			}
		}
		.project_result{
			font-size: 0;
			padding-bottom: 75px;
			h6{
				text-align: center;
				color: #447fc1;
				font-size: 24px;
				margin-bottom: 27px;
			}
			figure{
				display: inline-block;
				font-size: 18px;
				color: #353b4b;
				width: 20%;
				box-sizing: border-box;
				padding: 0 20px;
				vertical-align: middle;
				figcaption{
					vertical-align: top;
					display: inline-block;
				}
			}
		}

	.install{
		.project section strong{
			padding-bottom: 0
		}
		.project_result figure{
			width: auto;
			text-align: left;
		}
		.project_result{
			text-align: center;
		}
	}

	.service_block{
		overflow: hidden;
		padding: 25px 0 ;
		background:#f1f2f6;
		ul{
			padding-left: 25px;
			li{
				padding: 0 0 0 23px;
				line-height: 25px;
				background:url(../img/check.png) no-repeat left 5px;
				background-size: 15px 15px;
				position: relative;
				font-size: 16px;
			}
		}
	}
		.service_img{
			float: right;
			img{
				border: 1px solid #cccccc;
			}
		}

	.instaled_wrap{
		padding: 95px 0 40px 0;
	}
		.instaled_blocks{
			text-align: center;
		}
			.instaled_item{
				display: inline-block;
				vertical-align: top;
				width: 460px;
				margin: 0 40px;
				@include povh('');
				margin-bottom: 50px;
				&:hover{
					figure figcaption{
						background:$gradient-horizontal;
					}
					section{
						opacity: 1;
						transform: scale(1);
					}
				}
				figure{
					height: 359px;
					@include povh('');
					img{
						display: block;
					}
					figcaption{
						background:#447fc1;
						text-align: center;
						height: 40px;
						line-height: 40px;
						font-size: 20px;
						color: #fff;
						transition: all 0.5s ease;
					}
				}
				section{
					position: absolute;
					left: 0;
					top: 0;
					transition: all 0.5s ease;
					transform: scale(0);
					opacity: 0;
					width: 100%;
					height: 321px;
					text-align: left;
					padding: 11px;
					line-height: 25px;
					font-size: 16px;
					color: #fff;
					font-weight: 300;
					box-sizing: border-box;
					background:rgba(0,0,0, 0.6);
					p{
						padding-bottom: 25px
					}
				}
			}

	.partners{
		border: 1px solid #cccccc;
		border-left: none;
		border-right: none;
		padding: 5px 0;
		text-align: center;
		 margin-bottom: 90px;
		figure{
			 display: flex;
			  flex-wrap: wrap;
			  justify-content: space-between;
			  align-items: center;
			  align-content: space-between;
			  a{
			  	width: 14%;
			  	text-align: center;
			  	display: inline-block;
			  }
		}
	}

	.sert_wrap{
		padding: 0 0 80px 0;
	}
		.sert{
			text-align: center;
			a{
				display: inline-block;
				padding: 10px;
				margin: 0 7px;
				background:$gradient;
				img{
					display: block;
					box-shadow: 0 3px 5px rgba(0,0,0,.35);
				}
			}
		}

	.directors_block{
		background:#f1f2f6;
		padding: 27px 0;
		.project:before{
			display: none;
		}
		.project{
			padding: 0;
		}
		.director{
			float: left;
		}
	}

	.map_wrap{
		.container{
			height: 0px;
			overflow: visible;
		}
		.contacts{
			display: inline-block;
			padding: 10px;
			background:$gradient;
			margin-top: 75px;
			section{
				display: block;
				background:#fff;
				box-sizing: border-box;
				padding: 11px;
				width: 280px;
				font-size: 14px;
				color: #353b4b;
				line-height: 20px;
				font-weight: 300;
				box-shadow: 0 3px 5px rgba(0,0,0,.35);
				h4{
					color: #447fc1;
					font-size: 18px;
					padding-bottom: 13px;
				}
			}
		}
	}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
 }
 	.foot_top{
 		background:#f1f2f6;
 		.contacts_head{
 			float: right;
 			text-align: right;
 			width: 360px;
 			padding: 20px 0 0 0;
 			span, a{
 				margin-bottom: 10px;
 				border: none;
 			}
 		}
 		.logo{
 			@include povh('');
 			text-align: center;
 			display: block;
 			left: 100px;
 		}
 	}
		.foot_menu{
			float: left;
			width: 200px;
			@include povh('');
			padding: 20px 0 0 0;
			li{
				display: block;
				padding-bottom: 10px;
				a{
					font-size: 14px;
					color: #8b94ae;
					text-decoration: none;
					&:hover{
						color: #000;
					}
				}
			}
		}
	.foot_bottom{
		background:#fff;
		padding: 10px 0;
		address{
			float: left;
			color: #447fc1;
			font-size: 14px;
			font-weight: 300;
			font-style: normal;
		}
		strong{
			float: right;
			color: #447fc1;
			font-size: 14px;
			font-weight: 300;
			a{
				color: #ff7d7d;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

/*----------end footer----------*/

/*----------modal----------*/
.fancybox-close{
	background:url(../img/X.png) no-repeat center;
}
.fancybox-skin{
	background:$gradient;
}
.modal{
	background:#fff;
	margin: 2px;
	text-align: center;
}
	.modal_form{
		padding: 21px 59px;
		width: 540px;
		box-sizing: border-box;
		h6{
			color: #447fc1;
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 20px;
		}
		input{
			font-size: 18px;

		}
		.button_item{
			margin: 0;
			margin-top: 12px;
			
			.button{
				width: 378px;
			}
		}
	}
.fancybox-overlay{
	background:rgba(60, 163, 222, 0.5);
}
/*----------end modal----------*/